@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */

*{
    font-family: 'Noto Sans KR', sans-serif !important;
}

:root{
    --font-big:3rem;
    --font-medium:2rem;
    --font-small:1rem;
}